{{load_js "/js/stats.js"}}
<div class="stats" id="stats" rel="{{url "stat" "id" .id "what" "day"}}">
	<div class="row-fluid">
		<div class="span5">
			<div class="origin">{{full_url "redirect" "id" .id}}</div>
		</div>
		<div class="span6">
			<a href="{{.url}}" rel="nofollow" class="destination">{{.url}}</a><br/>
			<span class="muted">Created {{.when}}</span>
		</div>
	</div>

	<br />
	
	<div class="row-fluid">
		<div class="span2 hits">
			<p>Total Hits:</p>
			<p class="total">{{.hits}}</p>
		</div>
		<div class="span10 change" id="change">
			Clicks for this:
			<a href="#hour">hour</a>
			|
			<a href="#day">day</a>
			|
			<a href="#week">week</a>
			|
			<a href="#month">month</a>
			|
			<a href="#year">year</a>
			|
			<a href="#all">all time</a>
		</div>
	</div>

	<div class="row-fluid" style="width: 900px">
		<div id="hitsChart" class="span12" style="height: 500px;"></div>
	</div>
	<div class="row-fluid" style="width: 900px">
		<div id="countriesChart" class="span6" style="height: 500px;"></div>
		<div id="referrersChart" class="span6" style="height: 500px;"></div>
	</div>
	<div class="row-fluid" style="width: 900px">
		<div id="browsersChart" class="span6" style="height: 500px;"></div>
		<div id="osChart" class="span6" style="height: 500px;">
	</div>
</div>
